@{
    ViewBag.Title = "About";
}

@Html.Partial("_RpgNav")

<h2>About</h2>

<div>
Here is a litte extra chance to compete.  Not only to you get to compete, but you get to improve your fitness.  
<hr />
Be sure to track your workouts as much as possible.  That has been known to improve your fitness.  
If you don't see a workout you do regularly, let me know.  <br /><br />
Notes:
<ul title="Notes">
    <li>Yes, this part of the competition is completely runs on an HONOR'S SYSTEM.</li>
    <li>All workouts are based on an average body weight/height for ease.</li>
    <li>All workouts are also quantified by reps or duration (in minutes) for ease.</li>
    <li>Calories calculated were retrieved from an external source, so please don't shoot the messenger.</li>
    <li>Let me know if you see anything that needs to be changed.</li>
</ul>
</div>
