@{
    ViewBag.Title = "Crafty Losers";
}

<h2>Coming soon to a scale near you...</h2>
<div>
	<ul>
		<li>Contest lasts from January 30th to April 27th.</li>
		<li>Contest is $20 to enter.</li>
		<li>We are using a digital scale this year, but we need to find one.  If you have an accurate scale to loan for a few months, please let me know.</li>
		<li>Other departments, family, or friends are allowed to enter.  They just need to weigh in up here for the entry weight and the final weight.</li>
		<li>Entry fee due date is February 6th (if you have any trouble with this due date, please let the Joann Burner or myself know).</li>
		<li>Joann Burner has accepted the role as the Scale Master.</li>
		<li>Joann Burner will hold the entry fees.</li>
		<li>Joann Burner  will enter your Start Weight at the beginning of the contest and your Final Weight at the end of the contest.</li>
		<li>The winners will be determined by the greatest percentage of weight lost.</li>
		<li>First place will receive 50% of the entry fees.</li>
		<li>Second place will receive 35% of the entry fees.</li>
		<li>Third place will receive 15% of the entry fees.</li>
		<li>Sign up anonymously, or not, on this site.  Sign up will be available soon.</li>
		<li>You may record you weight as many times as you like between the start and end dates, which will reflect progress.</li>
		<li>Tools, reports, charts, goals, etc may be added to the site eventually.  Recommendations are always welcomed and are needed.</li>
	</ul>
</div>
