@model System.Web.Mvc.HandleErrorInfo
           
@{
    ViewBag.Title = "Error";
}

    <p>
        Controller:  @Model.ControllerName
    </p>
    <p>
        Action:  @Model.ActionName
    </p>
    <p>
        Exception Message:  @Model.Exception.Message
    </p>
    <p>
        Exception:  @Model.Exception
    </p>