@model CraftyLosers.Models.WeightCheckIn

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    @Html.HiddenFor(model => model.UserId)

    <div class="display-label">CheckInDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CheckInDate)
    </div>

    <div class="display-label">Weight</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Weight)
    </div>
</div>
@using (Html.BeginForm("Delete", "Weight", FormMethod.Post, new { @class="form-stacked" }))
{
    <div class="actions">
        <input type="submit" value="Delete" class="btn primary" /> @Html.ActionLink("Back to List", "WeightCheckIns", "Weight", new { @class = "btn secondary" })
    </div>
}
